html.touch {
  .main-sidebar {
    position: absolute;
    padding-top: 0;

    &-cart {
      &-summary {
        position: relative;
      }

      .js-nano-content {
        margin-bottom: 0;
        top: 100px;
      }
    }
  }
}

@media (max-width: 1162px) {
  .main-header {
    width: 100%;
    height: 60px;

    .main-header-home,
    .main-header-car,
    .main-header-phone,
    .main-header-additional-links,
    .main-header-logo-desc {
      display: none;
    }

    .main-header-buttons {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 120px;

      a {
        padding: 0 15px;

        &.active {
          background: none;
          border: none;
        }

        &.clicked {
          background: #FFF;
          border-left: 1px solid #E5E5E5;
        }
      }

      .menu-button,
      .cart-button {
        display: none;
      }

      .cart-button-mobile {
        width: auto;
        display: block;
        height: 60px;
        line-height: 60px;
      }
    }

    .main-cart-icon {
      top: 12px;
      right: 0;
      left: auto;
    }

    .main-cart-price {
      padding-left: 0;
      padding-right: 50px;
    }

    .main-wrapper {
      height: 60px;
    }

    .main-header-logo {
      margin-top: 19px;
      margin-left: 70px;
    }

    .main-header-menu-toggler {
      display: block;
    }
  }

  .main-sidebar {
    position: fixed !important;
    left: auto;
    right: -300px;
    top: 0;
    width: 280px;
    height: 100%;
    z-index: 1100;
    padding-top: 0;
    margin-left: 0;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.65);

    &.active {
      right: 0;
    }

    .main-sidebar-menu {
      &.active {
        display: none;
      }
    }

    .main-sidebar-cart {
      display: block;
    }
  }

  .main-sidebar-cart {
    .js-nano-content {
      top: 80px;
      margin-bottom: 0;
      padding-top: 10px;
    }
  }

  .main-sidebar-cart-summary {
    position: absolute;
    top: 0;
    bottom: auto;
  }

  .main-wrapper {
    width: 100%;
    border: none;
  }

  .main-content {
    width: 100%;
    background-image: none !important;
    padding-top: 61+46px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;

    & > .bm-menu-title {
      display: none;
    }
  }

  .main-content-blank {
    padding-top: 61px + 15px;
  }

  .bm-menu-subcategories {
    position: fixed;
    z-index: 110;
    width: 100%;
    left: 0;
    top: 61px;
    background: #383838;
    margin-bottom: 0;
    height: 38px;
    line-height: 38px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;

    ul {
      display: block;
      font-size: 0;
      margin-left: 0;
      margin-bottom: 0;
      height: 38px;

      /*&:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 100%;
        background: linear-gradient(to right, transparent, #383838);
      }*/

      li {
        margin-bottom: 0;
        padding: 0;

        a {
          display: block;
          .ff-arial;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 1px;
          height: 38px;
          line-height: 38px;
          padding: 0 15px;
          color: #fff;
          text-transform: uppercase;
          border-radius: 0;
          border-right: 1px solid #606060;
        }

        &.active {
          a {
            background: #606060;
          }
        }

        &:last-child {
          a {
            border-right: 0;
          }
        }
      }
    }
  }

  .main-content-modal-inner {
    padding: 15px 25px;
  }

  .modal-product-card-title {
    font-size: 26px;
  }

  .main-content-modal-close {
    top: 15px;
    right: 25px;
  }

  .modal-product-card-desc,
  .modal-product-card-buy {
    width: 100%;
    float: none;
  }

  .modal-product-card-buy-price {
    font-size: 36px;
  }

  .order-form {
    .control-label {
      display: block;
      float: none;
      margin-right: 0;
    }

    .form-group {
      margin-left: 0;
      margin-right: 0;
    }

    .order-form-required-desc {
      display: block;
      margin-top: 10px;
    }

    .btn.btn-success {
      .btn-block;
    }
  }
}

@media (max-width: @screen-md-max) {
  .bm-product-card {
    height: auto;
  }
}

@media (max-width: @screen-xs-max) {
  .main-header {
    .main-header-logo {
      width: 131px;
      margin-top: 22px;

      img {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  .mobile-categories-item {
    svg {
      width: 60px;
      height: 60px;
    }
  }
}