html.touch {
  .main-sidebar {
    position: absolute;
    padding-top: 0;

    &-cart {
      &-summary {
        position: relative;
      }

      .js-nano-content {
        margin-bottom: 0;
        top: 100px;
      }
    }
  }
}

@media (max-width: 1162px) {
  .main-header {
    width: 100%;
    height: 60px;
    position: fixed !important;

    .main-header-home,
    .main-header-car,
    .main-header-phone,
    .main-header-additional-links,
    .main-header-logo-desc {
      display: none;
    }

    .main-header-buttons {
      display: block;
      position: absolute;
      top: 0;
      right: 10px;
      width: 100px;

      .menu-button {
        display: none;
      }

      .cart-button {
        width: auto;
        height: 60px;
        line-height: 60px;
        float: none;
      }
    }

    .main-cart-icon {
      top: 12px;
      right: 0;
      left: auto;
    }

    .main-cart-price {
      padding-left: 0;
      padding-right: 50px;
    }

    .main-wrapper {
      height: 60px;
    }

    .main-header-logo {
      margin-top: 19px;
      margin-left: 70px;
    }

    .main-header-menu-toggler {
      display: block;
    }
  }

  .main-sidebar {
    display: none;
  }

  .main-wrapper {
    width: 100%;
    border: none;
  }

  .main-content {
    width: 100%;
    background: #fff !important;
    padding-top: 61+46px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;

    & > .bm-menu-title {
      display: none;
    }
  }

  .bm-menu-subcategories {
    position: fixed;
    z-index: 110;
    width: 100%;
    left: 0;
    top: 61px;
    background: #383838;
    margin-bottom: 0;
    height: 38px;
    line-height: 38px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;

    ul {
      display: block;
      font-size: 0;
      margin-left: 0;
      margin-bottom: 0;
      height: 38px;

      li {
        margin-bottom: 0;
        padding: 0;

        a {
          display: block;
          .ff-arial;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 1px;
          height: 38px;
          line-height: 38px;
          padding: 0 15px;
          color: #fff;
          text-transform: uppercase;
          border-radius: 0;
        }

        &.active {
          a {
            background: #606060;
          }
        }
      }
    }
  }

  .order-form {
    .control-label {
      display: block;
      float: none;
      margin-right: 0;
    }

    .form-group {
      margin-left: 0;
      margin-right: 0;
      
      .col-xs-5 {
        width: 100%;
        padding: 0;
      }
    }
  }
}

@media (max-width: @screen-md-max) {
  .bm-product-card {
    height: auto;
  }
}

@media (max-width: @screen-xs-max) {
  .main-header {
    .main-header-logo {
      width: 131px;
      margin-top: 22px;

      img {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}